.game {
    box-sizing: border-box;
    user-select: none;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    font-family: sans-serif;

    width: calc(95vw * 0.8 * 0.9);
    height: calc((((95vw * 0.8 * 0.9) / 16) * 9) - 5px);
}

.con {
    width: calc(95vw * 0.8 * 0.9);
    height: calc(((95vw * 0.8 * 0.9) / 16) * 9);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 15px;
    
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
}

.topSec {
    width: 100%;
    height: calc(((95vw * 0.8 * 0.9) / 16) * 9 * 0.6);
}

#prg {
    width: 100%;
    height: 30px;
    border: solid 5px rgba(118, 118, 118, 0.667);
    border-radius: 8px;

    margin-bottom: -15px;
}

.timeBar {
    width: 0;
    height: 100%;
    border-radius: 6px;
    animation: timeBar 1.5s linear infinite;
}

@keyframes timeBar {
    0% {
        width: 0;
        background: green;
    }

    50% {
        width: 50%;
        background: yellow;
    }

    100% {
        width: 110%;
        background: red;
    }
}

#disp {
    width: 100%;
    height: min-content;
    border: solid 10px #93939355;
    border-radius: 16px;
    padding: 10px;
    display: grid;
    font-size: 22px;
    place-items: center;
    background: rgba(155, 155, 155, 0.267);
    margin: 5px;
    margin-left: 0px;
    margin-top: 30px;
}

#colors {
    font-size: 30px;
}

.score {
    width: 100%;
    font-size: 30px;
    display: grid;
    place-items: center;
}

#scr {
    background: #0002;
    border: solid 2px #2225;
    border-radius: 8px;
    margin: 10px;
    padding: 4px 28px;
}

.control {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

#right,
#wrong {
    width: 125px;
    height: 125px;
    font-size: 85px;
    border-radius: 50%;
    border: none;
    color: #fff;
}

#right {
    background: #146c;
}

#wrong {
    background: #b77c;
}

.startBt {
    height: 16px;
    border: none;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 150px;
}

#startBt {
    font-size: 30px;
    padding: 4px 8px;
    background-color: #234082;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 50px;
    
    cursor: pointer;
}

.clicked {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}

.popup {
    position: absolute;
    width: 50%;
    height: min-content;
    background-color: var(--blue2);
    color: whitesmoke;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}