.game {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.game {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
    font-family: sans-serif;
    background: #619ace;
}

#prg {
    width: 100%;
    height: 50px;
    border: solid 2px #555a;
    border-radius: 8px;
    overflow: hidden;
}

.con {
    width: calc(95vw * 0.8 * 0.9);
    height: calc(((95vw * 0.8 * 0.9) / 16) * 9);
    padding-top: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: #619ace;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    border-radius: 8px;
}

.timeBar {
    width: 0;
    height: 200%;
    border-radius: 6px;
    animation: timeBar 1.5s linear infinite;
}

@keyframes timeBar {
    0% {
        width: 0;
        background: green;
    }

    50% {
        width: 50%;
        background: yellow;
    }

    100% {
        width: 110%;
        background: red;
    }
}

#disp {
    width: 100%;
    height: 150px;
    border: solid 20px #5555;
    border-radius: 16px;
    display: grid;
    place-items: center;
    background: #0004;
    margin: 5px;
}

#colors {
    font-size: 40px;
}

.score {
    width: 100%;
    font-size: 30px;
    display: grid;
    place-items: center;
}

#scr {
    background: #0002;
    border: solid 2px #2225;
    border-radius: 8px;
    margin: 10px;
    padding: 4px 28px;
}

.control {
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

#right,
#wrong {
    width: 150px;
    height: 150px;
    font-size: 100px;
    border-radius: 50%;
    border: none;
    color: #fff;
}

#right {
    background: #146c;
}

#wrong {
    background: #b77c;
}

.startBt {
    height: 16px;
    background-color: blue;
    border: none;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 150px;
}

#startBt {
    font-size: 30px;
    padding: 4px 8px;
    background-color: #234082;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 50px;
}

.clicked {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}

.popup {
    position: absolute;
    width: 50%;
    height: min-content;
    background-color: var(--blue2);
    color: whitesmoke;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}