.section#index {
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* box-shadow: inset 0px 0px 100px 100px var(--blueT); */ 
    /* background-image: url('/images/mainBG.jpeg'); */
    /* background-size: cover; */
}

.mainText {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainTitle {
    font-size: 80px;

    font-weight: bold;
}

.mainCaption {
    font-size: 26px;

    font-weight: 300;

    color: var(--dark);
}

.getStarted {
    margin-top: 17.5px;

    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;

    width: fit-content;

    background-color: var(--blue1);

    color: whitesmoke;

    cursor: pointer;

    text-decoration: none;

    font-size: 22px;

    border-radius: 60px;

    margin-left: auto;
    margin-right: auto;
}