.loginBox {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContent {
    width: 50vw;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .loginContent {
        width: 100vw;
        height: 50vh;
    }
}