.navbar {
    width: 100vw;
    height: 12vh;

    padding: 15px;

    background-color: var(--blue2);

    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLeft {
    display: flex;
    align-items: center;

    height: 100%;
}

.navRight {
    display: flex;
    align-items: center;

    height: 100%;
}

.navLogo {
    font-size: 24px;

    padding-left: 14px;
    padding-right: 14px;
}

.navLogo a {
    text-decoration: none;

    color: whitesmoke;

    font-weight: bold;
}

.navSearch {
    padding: 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
}

.navSearchInput {
    width: 250px;
    height: 45px;

    border-radius: 100px;

    border: none;
    outline: none;

    color: whitesmoke;

    padding: 20px;

    font-size: 16px;

    background-color: var(--blue3);
}

.navSearchInput::placeholder {
    color: whitesmoke;
}

.navSearch i {
    position: absolute;

    right: 30px;
}

.navLink {
    font-size: 18px;

    padding: 15px;
}

.navLink a {
    text-decoration: none;

    color: whitesmoke;

    font-weight: bold;

    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.navLink a:hover {
    color: rgb(200, 200, 200);
}

/* Right Part */

.user {
    font-size: 15px;

    display: flex;
    align-items: center;
}

.person {
    font-size: 15px;

    display: flex;
    align-items: center;

    margin-right: 10px;

    cursor: pointer;
}

.userImg {
    font-size: 45px;

    margin-right: 10px;
}

.openPopup {
    background-color: transparent;

    font-size: 15px;

    color: whitesmoke;

    border: none;

    outline: none;

    cursor: pointer;

    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
}

#popup {
    display: none;
    position: absolute;
    width: 225px;
    height: 150px;
    background-color: var(--blue3);
    color: whitesmoke;
    border-radius: 15px;
    padding: 20px;

    right: 5px;
    top: 10vh;
    z-index: 901;

    align-items: center;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-bottom: 15px solid var(--blue3);

    position: absolute;

    right: 5px;
    top: -12.5px;
}

#enterName {
    font-size: 20px;

    font-weight: 600;

    margin-bottom: -10px;
}

.info {
    margin-top: 20px;

    font-size: 18px;

    position: absolute;

    bottom: 20px;
}

.info a {
    text-decoration: none;

    color: whitesmoke;

    display: flex;
    align-items: center;
}

.info button {
    border: none;

    background-color: transparent;

    font-size: 18px;

    outline: none;

    cursor: pointer;

    margin-top: -10px;

    color: whitesmoke;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
}