* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;

    background-color: whitesmoke;

    --color: #0A1B2B;
    --dark: #0A1B2B;
    --blue1: #234082;
    --blue2: #2D5499;
    --blue3: #4d67c6;
}